/* CSS Document */

body{
  font-family: Gotham, "Arial Black", Gadget, sans-serif;
  background-color: #FFD700;
  color: #666;
}

a {
  color: #333;
  text-decoration: none;
}

.wrapper{
  width:1000px;
  background-color: black;
  padding:20px;
  margin:auto;
}

.header{
  width:960px;
  height: 100px;
  padding:20px;
  text-align:center;
  border-bottom: 1px #1a1a1a solid;
}

.contentWrapper{
  width:1000px;
  overflow:auto;
}

.leftContent {
  width:250px;
  float:left;
  padding:20px;
}

.navigationList {
  list-style: none;
}

.navigationList li {
  text-decoration:none;
  margin-bottom:20px;
}

.navigationList li a{
  text-decoration:none;
}

.rightContent {
  width:700px;
  float:right;

}

.bannerDiv{
  width:660px;
  height: 200px;
  padding:20px;
  border-bottom:1px solid #eee;
  border-left:1px solid #eee;
}

.mainContent{
  width:660px;
  padding:20px;
}

#formDiv{
  width:660px;
  padding:20px;
}

.inputField {
  margin-bottom: 20px;
  width: 300px;
  padding:5px;
  margin-top:10px;
}

.textAreaInput{
  width: 310px;
  height:200px;
  margin-top:10px;
  margin-bottom:10px;
  text-transform:uppercase;
}

.submitButton{
  padding:10px;
  width: 150px;
  border-radius:0px;
  text-transform:uppercase;
}


  .footer {
    width: 1000px;
    height: 50px;
    border-top: solid #eee 1px;
    text-align: center;

}

.footer p {
  font-size:11px;
  color: #666;
}

.footer p a {
  font-size:11px;
  color: #666;
  text-decoration: none;
}
